*{font-family: 'Rubik', sans-serif;}@tailwind base;@tailwind components;@tailwind utilities;
::-webkit-scrollbar{ width: 2px;height: 2px; } ::-webkit-scrollbar-track{ background: #f1f1f1; } ::-webkit-scrollbar-thumb{ background: #888; border-radius: 6px; } ::-webkit-scrollbar-thumb:hover{ background: #555; }
.loader{
    display:none;
}
.htmx-request .loader{
    display:flex;
}
.htmx-request.loader{
    display:flex;
}

.active{
    @apply border-l-4 border-primary-500 rounded-md bg-primary-100 ;
}

.tests input{
    @apply w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:right-0 dark:bg-gray-700 dark:border-gray-600;
}

.nav-link{
    @apply dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 ;
}